/* initial css */
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: sans-serif;

  background: #757577;
}/* css for main */
main {
    margin-top: 3.6rem;
  }/* css for the footer */
footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  background: #353239;
  color: white;
}
footer > p {
  margin: 0%;
}/* css for the header */
body  > header {
  z-index: 2;
  display: flex;
}

body header div > p{
  margin: 0%; 
}

body  > header {
  font-size: 1rem;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
}

body  > header {
  font-weight: bold;
  /* padding: 1rem 3rem; */
  justify-content: space-between;

  color: white;
  background: #353239;
}

/* css for nav */
body  > header > nav > ul {
  display: flex;
}

body  > header > nav > ul {
  margin: 0%;
  padding-left: 0%;
  list-style-type: none;
}

body  > header > nav > ul li {
  cursor: pointer;
  padding: 1.3rem;
}

body  > header > nav > ul #welcomeLink {
  background: #9b9d9b52;
}

body  > header > nav > ul li:hover {
  background: #9b9d9ba1;
  transition-duration: 150ms;
}

body  > header > nav > ul li a {
  color: white;
  text-decoration: none;
}

/* css for app logo */
body  > header > div {
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.3rem;
  cursor: pointer;
  background: #9b9d9ba1;
}

body  > header > div > a {
  padding: 0%;
  margin: 0%;

  text-decoration: none;
  color: white;
}
/* form css (for login and register) */
main > .form {
  width: 100%;
  height: fit-content;

  display: flex;

  justify-content: center;
  align-items: center;

  background: #757577;

  padding-top: 4.35rem;
  padding-bottom: 4.35rem;
}

main > .form > form {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #00000071;

  padding: 4rem 3rem;
  padding-bottom: 2rem;

  border-radius: 10px;

  border-bottom: solid 3px white;
  border-right: solid 3px white;
}

main > .form > form > div {
  width: 100%;
}

main > .form > form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;

  color: white;
  font-weight: bold;

  border-bottom: solid 4px white;
}

main > .form > form .container * {
  width: 100%;

  margin-bottom: 1rem;
}

main > .form > form .container input,
main > .form > form .container textarea {
  outline: none;
  border: none;

  padding: 1rem 2rem;

  border-radius: 4px;

  font-size: 0.9rem;
}

main > .form > form .container button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  color: white;

  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 0.2rem;

  font-size: 1rem;
  font-weight: bold;

  transition-duration: 200ms;
}

main > .form > form .container button:hover {
  color: #414142;
  background-color: white;
}

main > .form > form .otherOption {
  color: white;
}

main > .form > form .otherOption a {
  color: white;
}
main .indexImageDiv,
main .imageBlur > img{
  filter: saturate(20%);
  width: 100%;
  height: calc(100vh - 3.6rem);
}
main .imageBlur {
  z-index: 2;
  background: inherit;
  height: 100%;
  filter: blur(2px);
}